body {
    background-color: rgb(231, 215, 196);
}

#presentacion {
    height: 88vh;
}

#proyecto-1 {
background-image: url(assets/clon\ google.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-2 {
    background-image: url(assets/gamificación.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

#proyecto-3 {
    background-image: url(assets/postres\ cherry.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.imagen-redonda {
    border-radius: 50%;
}